
.home-page{
    display: flex;
    
    @include for-mobile-layout {
        margin-top: 25px;
        padding: 0;
    }


.stories-list{
    list-style: none;
    padding: 0;
}

.users-list-area{
    margin-left: 60px;

    @include for-narrow-layout {
        display: block;
    }
    @include for-mobile-layout {
        display: none;
    }
    
}

.bottom-div {
    height: 0px;
    width: 100vw;
    background-color: red;

}
}