
.home-page{
    display: flex;



.stories-list{
    list-style: none;
}

.users-list-area{
    margin-left: 60px;
    
}

.bottom-div {
    height: 0px;
    width: 100vw;
    background-color: red;

}
}