.app-header {
    padding: 10px;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 100px;
    }

    div {
        
        margin-bottom: 15px;
        :hover{
            background-color: $gray1;
            transition: 0.2s;
            text-decoration: none;
            border-radius: 10px;
        }

        .nav-link {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: start;
            color: black;
        }

        .nav-link.active{
            font-weight: 700;
        }

        .nav-link span{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: start;
        }
        .nav-link span img{
            border-radius: 50%;
            width:20px;
            height: 20px;
        }
    }

    

    

    // a span{
    //     display: flex;
    //     flex-direction: row-reverse;
    //     align-items: center;
    //     justify-content: start;
    //     color: black;

    // }


    nav {
        font-size: .8em;
        background-color: red;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}