.main-app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "aside main";

    @include for-narrow-layout {
        grid-template-areas:
        "aside main";
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "main"
            "aside";
    }

    @include for-normal-layout {
        grid-template-areas:
        "aside main";
    }
}

.app-header {
    grid-area: aside;
    // position: fixed;
    border-right: 1px solid $gray1;
    height: 100vh;
    width: 220;
    
    
}

.container {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
