.main-app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    grid-template-areas:
        "aside main";

    @include for-narrow-layout {
        grid-template-areas:
        "aside main";
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "mobile"
            "main"
            "aside";
    }

    @include for-normal-layout {
        grid-template-areas:
        "aside main";
    }
}

.app-header {
    grid-area: aside;
    // position: fixed;
    
}

.container {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    height: 100vh;

    @include for-mobile-layout {
       margin-top: 40px;
      
    }
}

.upper-mobile-bar{
    grid-area: mobile;
    display: none;
    @include for-mobile-layout {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
    }
}
