

.main-app{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "aside main";
}

.app-header{
    grid-area: aside;
    position: fixed;
    border-right: 1px solid $gray1;
    height: 100vh;
}

.container{
    grid-area: main;
    padding: 15px;
    margin-left: 45px;
}