// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ebeaea;
$gray2: #cac9c9;
$gray3: #aaa;
$gray4: #777;
$gray5: #333;

//LAYOUT

$layoutPadding: 20px;


// Breakpoints
$mobile-breakpoint: 450px;
$narrow-breakpoint: 1150px;
$normal-breakpoint: 1500px;
